# FORMAT:
#  panelresolution=[xres]X[yres], such as panelresolution=1280X720
#  powernode1 normal balanced maxbatterylife
#  powernode2 normal balanced maxbatterylife
#  ......
#  powernoden normal balanced maxbatterylife
#  panelresolution=[xres]X[yres], such as panelresolution=1920X1080
#  powernode1 normal balanced maxbatterylife
#  powernode2 normal balanced maxbatterylife
#  ......
#  powernoden normal balanced maxbatterylife
#  ......
#  ......
#  panelresolution=[xres]X[yres], such as panelresolution=1920X1200
#  powernode1 normal balanced maxbatterylife
#  powernode2 normal balanced maxbatterylife
#  ......
#  powernoden normal balanced maxbatterylife
#
# NOTES:
#  The panelresolution is the lcd panel resolution.
#  No space should exist in panelresolution=[xres]X[yres].
#  panelresolution=720X1280 equals with panelresolution=1280X720.
#  For panelresolution=-1X-1, it should be the last set of power settings in this file.
#  When your panel resolution is found in this file,
#  it will use the set of power settings followed by your panel resolution.
#  When your panel resolution is not found in this file, it will use the default power settings.
#  The power settings followed by panelresolution=-1X-1 is the default power settings.
#  powernode is the sysfs or variable we need to write and it is followed by three ints.
#  normal, balanced, maxbatterylife are the three ints for different power modes.
#
# Smartdimmer/aggressiveness and smartdimmer/enable will vary depending on the power
#  level of the device. The most significant 2 bits in the aggressiveness value are
#  used as priority bits, and the lower 3 bits are the aggressiveness level. The upper
#  2 bits are used to prioritize aggressiveness requests from different entities that
#  control backlight (e.g. gallery app and hardware composer).
#
#  Power Mode  smartdimmer/enable         smartdimmer/aggressiveness (lower 3 bits)
#  -----------------------------------------------------------------------------------------------
#  Max Perf         0                     24 (24 =0x18, aggressiveness = 0x0)
#  Balanced         1                     27 (27 =0x1B, aggressiveness = 0x3)
#  ecoMode          1                     29 (29 = 0x1D, aggressiveness = 0x5)
#
panelresolution=1920X1200
NV_FPSLIMIT 0 60 30
NV_MAX_CORES 0 0 2
NV_ECO_TYPE 0 0 0
NV_ECO_THRESHOLD 0 0 40
NV_TSKIN_SETPOINT 45000 43000 43000
/sys/module/cpu_tegra/parameters/cpu_user_cap 0 0 0
panelresolution=2560X1600
NV_FPSLIMIT 0 60 30
NV_MAX_CORES 0 0 2
NV_ECO_TYPE 0 0 0
NV_ECO_THRESHOLD 0 0 40
NV_TSKIN_SETPOINT 45000 43000 43000
/sys/module/cpu_tegra/parameters/cpu_user_cap 0 0 0
panelresolution=-1X-1
NV_FPSLIMIT 0 60 30
NV_MAX_CORES 0 0 2
NV_ECO_TYPE 0 0 0
NV_ECO_THRESHOLD 0 0 40
NV_TSKIN_SETPOINT 45000 43000 43000
/sys/module/cpu_tegra/parameters/cpu_user_cap 0 0 0
