#Copyright (c) 2012-2014 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.nv_dev_board.usb.rc

# Set up HDCP
import init.hdcp.rc

# Nvidia baseband integration
import init.modem_${ro.boot.modem}.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root

    mkdir /mnt/modem
    mkdir /mnt/log

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECONDARY_STORAGE /storage/sdcard1

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/sdcard1 /mnt/sdcard2
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    # create directory for mounting usb drives
    mkdir /mnt/media_rw/usbdrive 0700 media_rw media_rw
    mkdir /storage/usbdrive 0700 root root
    symlink /mnt/media_rw/usbdrive /storage/usbdrive
    symlink /mnt/media_rw/usbdrive /usbdrive

    # set size of zram as 2047MB
    write /sys/class/block/zram0/disksize 2047M

on fs
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    setprop ro.crypto.fuse_sdcard true
    setprop ro.crypto.fuse_usbdrive false

    mount_all /fstab.ceres

on post-fs-data
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/firmware 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/nvcam 0700 media camera
    chown dhcp dhcp /data/misc/dhcp
    chown root shell /data/property
    chmod 770 /data/property
    chmod 777 /data/property/*

    mkdir /data/misc/wminput 0776 system system

    mkdir /data/media 0770 media_rw media_rw

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

    # Create GPS folders and set its permissions
    mkdir /data/gps
    chown gps system /data/gps/
    chmod 0770 /data/gps/

    chmod 0600 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x
    mkdir /data/nfc
    mkdir /data/nfc/param
    chmod 0700 /data/nfc
    chmod 0700 /data/nfc/param
    chown nfc nfc /data/nfc
    chown nfc nfc /data/nfc/param

    # Set modem data permissions.
    chown root root /mnt/modem
    chmod 0755 /mnt/modem
    chown root radio /mnt/modem/data
    chmod 0770 /mnt/modem/data
    chown root radio /mnt/modem/data/factory
    chmod 0770 /mnt/modem/data/factory

on boot

# bluetooth
    # change back to bluetooth from system
    chown bluetooth net_bt_stack /data/misc/bluetooth

    # UART device
    chmod 0660 /dev/ttyHS2
    chown bluetooth net_bt_stack /dev/ttyHS2

    # power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    write /sys/class/rfkill/rfkill0/state 0
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

    # bluetooth MAC address programming
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown bluetooth net_bt_stack /system/etc/bluetooth
    chown bluetooth net_bt_stack /data/misc/bluetooth
    setprop ro.bt.bdaddr_path "/data/misc/bluetooth/bdaddr"

# Tegra wakeup monitor
    chown system system /sys/devices/platform/tegra_wakeup_monitor/cmd
    chown system system /sys/devices/platform/tegra_wakeup_monitor/monitor_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/nf_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/am_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/init_ports
    chown system system /sys/devices/platform/tegra_wakeup_monitor/add_ports
    chown system system /sys/devices/platform/tegra_wakeup_monitor/del_ports
# Wifi support rx-filter
    setprop wifi.rx-filter 1

# audio
    chmod 0664 /sys/power/suspend/mode
    chown system audio /sys/power/suspend/mode
    chmod 0664 /d/clock/floor.emc/state
    chmod 0664 /d/clock/floor.emc/rate
    chmod 0664 /d/clock/floor.emc/refcnt
    chown system audio /d/clock/floor.emc/state
    chown system audio /d/clock/floor.emc/rate
    chown system audio /d/clock/floor.emc/refcnt

#NFC
    setprop ro.nfc.port "I2C"

# nvdps
    chown system system /sys/class/graphics/fb0/device/nvdps

# backlight
    chown system system /sys/class/backlight/pwm-backlight/brightness
    chown system system /sys/class/backlight/max8831_display_bl/brightness
    chown system system /sys/class/backlight/lm3528_display_bl/brightness

# leds
    chown system system /sys/devices/platform/tegra14-i2c.4/i2c-4/4-0023/max77660-leds/enable
    chown system system /sys/devices/platform/tegra14-i2c.4/i2c-4/4-0023/max77660-leds/brightness
    chown system system /sys/devices/platform/tegra14-i2c.4/i2c-4/4-0023/max77660-leds/onms
    chown system system /sys/devices/platform/tegra14-i2c.4/i2c-4/4-0023/max77660-leds/offms
    # added by Magnum 2013-12-16
    chown system system /sys/class/leds/button1/brightness
    chown system system /sys/class/leds/red-green/brightness
    chown system system /sys/class/leds/button1/trigger
    chown system system /sys/class/leds/red-green/trigger

#add by wuhai
    chown system system	/mnt/modem/gs_hal_cali_data
    chown system system	/mnt/modem/gs_cali_data
    chmod 0660 /mnt/modem/gs_hal_cali_data
    chmod 0660 /mnt/modem/gs_cali_data


# vibrator
    chown system system /sys/class/input/event1/device/device/vibrator_enable
    chown system system /sys/class/input/event2/device/device/vibrator_enable

# didim
    chown system system /sys/class/graphics/fb0/device/smartdimmer/enable
    chown system system /sys/class/graphics/fb0/device/smartdimmer/aggressiveness
    chown system system /sys/class/graphics/fb0/device/smartdimmer/sd_window
    chown system system /sys/class/graphics/fb0/device/smartdimmer/sd_window_enable

# power
    chown system system /sys/kernel/tegra_cap/core_cap_level
    chown system system /sys/kernel/tegra_cap/core_cap_state
    chown system system /sys/module/cpu_tegra/parameters/cpu_user_cap

# WDT
    write /sys/devices/platform/tegra14-i2c.4/i2c-4/4-0023/max77660-sys-wdt/power/wakeup enabled

# Touch
    chown system system /sys/class/input/input0/enabled
    chown system system /sys/class/input/input1/enabled
    chmod 0666 /dev/rmi0

# Sensor
    chown system system /sys/bus/iio/devices/iio:device1/in_illuminance_regulator_enable
    chown system system /sys/bus/iio/devices/iio:device1/in_illuminance_enable
    chown system system /sys/bus/iio/devices/iio:device1/in_proximity_regulator_enable
    chown system system /sys/bus/iio/devices/iio:device1/in_proximity_enable
    chmod 0600 /sys/bus/iio/devices/iio:device1/in_illuminance_regulator_enable
    chmod 0600 /sys/bus/iio/devices/iio:device1/in_illuminance_enable
    chmod 0600 /sys/bus/iio/devices/iio:device1/in_proximity_regulator_enable
    chmod 0600 /sys/bus/iio/devices/iio:device1/in_proximity_enable
    chown system system /sys/class/sensors/light/device/amb_clear
    chown system system /sys/class/sensors/light/device/proximity

    insmod /system/lib/modules/akm8963.ko

    chown system system /sys/class/input/input5/akm89xx/enable
    chown system system /sys/class/input/input5/akm89xx/delay
    chown system system /sys/class/input/input5/akm89xx/max_range
    chown system system /sys/class/input/input5/akm89xx/resolution
    chown system system /sys/class/input/input5/akm89xx/key

    chown system system /sys/class/input/input2/bma222e/enable
    chown system system /sys/class/input/input2/bma222e/delay
    chown system system /sys/class/input/input2/bma222e/max_range

# akmd8963
    chown system system /sys/class/compass/akm8963/enable_acc
    chown system system /sys/class/compass/akm8963/enable_mag
    chown system system /sys/class/compass/akm8963/enable_fusion
    chown system system /sys/class/compass/akm8963/delay_acc
    chown system system /sys/class/compass/akm8963/delay_mag
    chown system system /sys/class/compass/akm8963/delay_fusion
    chown system system /sys/class/compass/akm8963/accel
    
# Power management settings
    #write /sys/module/tegra3_emc/parameters/emc_enable 0
    #write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1000000

    write /sys/module/tegra14_emc/parameters/pasr_enable 1

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpufreq/conservative/up_threshold 95
    write /sys/devices/system/cpu/cpufreq/conservative/down_threshold 75
    write /sys/devices/system/cpu/cpufreq/conservative/freq_step 3

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 768000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "65 228000:75 768000:85"
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 20000

    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp 0
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/down_delay 500
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/idle_top_freq 408000
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 1
    write /sys/devices/system/cpu/cpuquiet/current_governor runnable

    write /sys/module/cpuidle/parameters/power_down_in_idle 1
    write /sys/module/cpuidle_t14x/parameters/cpu_power_gating_in_idle 0x1f
    write /sys/module/cpuidle_t14x/parameters/fast_cluster_power_down_mode 0
    write /sys/module/cpuidle_t14x/parameters/slow_cluster_power_gating_noncpu 1
    write /sys/module/cpuidle_t14x/parameters/stop_mc_clk_in_idle 1

    chown system system /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/tegradc.0/enable
    chown system system /sys/devices/tegradc.1/enable
    chown system system /sys/devices/platform/host1x/nvavp/boost_sclk

    chown system system /sys/kernel/tegra_cap/cbus_cap_level
    chown system system /sys/kernel/tegra_cap/cbus_cap_state
    chown system system /sys/devices/platform/host1x/gr3d/enable_3d_scaling
    chown system system /sys/bus/platform/drivers/flash_torch/value
    # fast torch fix ..
    chmod 0777 /sys/bus/platform/drivers/flash_torch/value

# Set battery poll interval
    write /sys/module/bq27x00_battery/parameters/poll_interval 30

# Default Read Ahead value for sdcards
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk1/queue/read_ahead_kb 2048

# Wiimote connect status
    write /data/misc/wminput/connected 0
    chmod 0666 /data/misc/wminput/connected

# GPS init
    write /sys/class/gpio/export 63
    write /sys/class/gpio/gpio63/value 0
    write /sys/class/gpio/gpio63/direction out
    chown root system /sys/class/gpio/gpio63/value
    chmod 0664 /sys/class/gpio/gpio63/value

# headset key
    chown root radio /sys/bus/platform/drivers/soc-audio/snd_soc_call_state

# USB On The Go - Host Mode
    chown system system /sys/devices/platform/tegra-otg/enable_host

# set hwui properties depending on the screen resolution and the memory size
service set_hwui_params /system/bin/set_hwui_params.sh
    class main
    user root
    group root
    oneshot

# Set Zram parameters and initialise it as swap
service init_zram /system/bin/init_zram.sh
    class main
    user root
    group root
    oneshot

# CPU Boost: boost CPU on input events
service input-cfboost /system/bin/input_cfboost_init.sh
    class main
    user root
    group root
    oneshot

# DirectTouch: Raydium
service rm_ts_service    /system/bin/rm_ts_server
    disabled
    class late_start
    user system
    group system input

on property:ro.boot.touch_vendor_id=0
    start rm_ts_service

on property:ro.boot.touch_vendor_id=1
    write /sys/devices/sensor00/sensor00.fn01/nosleep 0

on property:ro.debuggable=1
    # Invensense interface
    chmod 0666 /sys/class/invensense/mpu/accl_bias
    chmod 0666 /sys/class/invensense/mpu/accl_enable
    chmod 0666 /sys/class/invensense/mpu/accl_fifo_enable
    chmod 0666 /sys/class/invensense/mpu/accl_fs
    chmod 0666 /sys/class/invensense/mpu/accl_matrix
    chmod 0666 /sys/class/invensense/mpu/clock_source
    chmod 0666 /sys/class/invensense/mpu/compass_enable
    chmod 0666 /sys/class/invensense/mpu/compass_matrix
    chmod 0666 /sys/class/invensense/mpu/compass_scale
    chmod 0666 /sys/class/invensense/mpu/dev
    chmod 0666 /sys/class/invensense/mpu/dmp_firmware
    chmod 0666 /sys/class/invensense/mpu/enable
    chmod 0666 /sys/class/invensense/mpu/fifo_rate
    chmod 0666 /sys/class/invensense/mpu/firmware_loaded
    chmod 0666 /sys/class/invensense/mpu/flick_axis
    chmod 0666 /sys/class/invensense/mpu/flick_counter
    chmod 0666 /sys/class/invensense/mpu/flick_int_on
    chmod 0666 /sys/class/invensense/mpu/flick_lower
    chmod 0666 /sys/class/invensense/mpu/flick_message_on
    chmod 0666 /sys/class/invensense/mpu/flick_upper
    chmod 0666 /sys/class/invensense/mpu/gyro_enable
    chmod 0666 /sys/class/invensense/mpu/gyro_fifo_enable
    chmod 0666 /sys/class/invensense/mpu/gyro_fs
    chmod 0666 /sys/class/invensense/mpu/gyro_matrix
    chmod 0666 /sys/class/invensense/mpu/key
    chmod 0666 /sys/class/invensense/mpu/lpa_freq
    chmod 0666 /sys/class/invensense/mpu/lpa_mode
    chmod 0666 /sys/class/invensense/mpu/pedometer_steps
    chmod 0666 /sys/class/invensense/mpu/pedometer_time
    chmod 0666 /sys/class/invensense/mpu/power
    chmod 0666 /sys/class/invensense/mpu/power_state
    chmod 0666 /sys/class/invensense/mpu/raw_accl
    chmod 0666 /sys/class/invensense/mpu/raw_gyro
    chmod 0666 /sys/class/invensense/mpu/reg_dump
    chmod 0666 /sys/class/invensense/mpu/self_test
    chmod 0666 /sys/class/invensense/mpu/temp_offset
    chmod 0666 /sys/class/invensense/mpu/temp_scale
    chmod 0666 /sys/class/invensense/mpu/temperature
    chmod 0666 /sys/class/invensense/mpu/uevent

    # Invensense debug register interface.
    chmod 0666 /sys/class/invensense/mpu/dbg_reg
    chmod 0666 /sys/class/invensense/mpu/dbg_dat

service dhcpcd_p2p_p2p0 /system/bin/dhcpcd p2p-p2p0-0
    class main
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL -f/system/etc/dhcpcd/dhcpcd.conf
     class main
     disabled
     oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot


service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
     class late_start

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdrive /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbdrive /storage/usbdrive
    class late_start
    disabled

service swapsd /system/bin/sh /swapsd.sh
    class core
    user root
    oneshot

# bugreport is triggered by the VOLUME-DOWN and VOLUME-UP keys
service bugreport /system/bin/dumpstate -d -v -o /data/storage/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 115 114

# Start GPS daemon
on boot
    service gps-daemon /system/bin/glgps_nvidiaTegra2android -c /system/etc/gps/gpsconfig.xml
    user gps
    socket gps seqpacket 0660 gps system
    group system inet sdcard_rw sdcard_r
    class late_start

# btmaccopy - to create unique BD address
service btmaccopy /system/bin/bt_mac_copy.sh
    class main
    user root
    group root
    oneshot

# Mount usb drives as /usbdrive. Generally usb drives are formatted with FAT
# filesystem, so we support FAT as of now.
on device-added-/sys/block/sda
  mount vfat /dev/block/sda /mnt/media_rw/usbdrive

on device-removed-/sys/block/sda
  umount /mnt/media_rw/usbdrive

on charger
# Power management settings
  write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp 0

  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative
  write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor conservative
  write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor conservative
  write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor conservative

  write /sys/devices/system/cpu/cpufreq/conservative/up_threshold 80
  write /sys/devices/system/cpu/cpufreq/conservative/down_threshold 50
  write /sys/devices/system/cpu/cpufreq/conservative/freq_step 3

  write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 1
  write /sys/devices/system/cpu/cpuquiet/current_governor runnable
  write /sys/module/cpuidle_t11x/parameters/cpu_power_gating_in_idle 31
  write /sys/module/cpuidle_t11x/parameters/slow_cluster_power_gating_noncpu 1
  write /sys/module/cpuidle/parameters/power_down_in_idle 1
  
  #write /sys/class/android_usb/android0/enable 0
  #write /sys/class/android_usb/android0/idVendor 0955
  #write /sys/class/android_usb/android0/idProduct 7100
  #write /sys/class/android_usb/android0/functions adb
  #write /sys/class/android_usb/android0/enable 1
  #start adbd
  #setprop sys.usb.state adb  

# TLK storage service
import init.tlk.rc

# Enable PowerService
service powerservice /system/bin/powerservice
    class main
    user system
    group system

# create filesystems if necessary
service setup_fs /system/bin/setup_fs \
        /dev/block/platform/sdhci-tegra.3/by-name/UDA \
        /dev/block/platform/sdhci-tegra.3/by-name/CAC \
        /dev/block/platform/sdhci-tegra.3/by-name/MDM \
        /dev/block/platform/sdhci-tegra.3/by-name/LOG
    class core
    user root
    group root
    oneshot

service dns_masq /system/bin/dnsmasq --no-daemon --no-resolv --no-poll --dhcp-option-force=43,ANDROID_METERED --dhcp-range=192.168.42.2,192.168.42.254,1h &
    class main
    user dhcp
    group dhcp wifi system
    disabled
    oneshot

service p2p_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -puse_p2p_group_interface=1 -e/data/misc/wifi/entropy.bin \
    -g@android:wpa_wlan0
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

on property:persist.commchip_device=0xa94d
    symlink /system/etc/libnfc-brcm-43341.conf /data/nfc/libnfc-brcm.conf
    symlink /system/etc/libnfc-brcm-43341b00.conf /data/nfc/libnfc-brcm-43341b00.conf

on property:persist.commchip_device=0x4335
    symlink /system/etc/libnfc-brcm-4335.conf /data/nfc/libnfc-brcm.conf
    symlink /system/etc/libnfc-brcm-20791b04.conf /data/nfc/libnfc-brcm-20791b04.conf

on property:gsm.modem.config=1
    start config_modem

# Configure modem
on boot
    service config_modem /system/bin/ceres_mdm_boot_cfg.sh
    class late_start
    user root
    group root
    oneshot

# unified scaling setup
service ussr_setup /system/bin/ussr_setup.sh
    class main
    user root
    group root
    oneshot

# unified scaling process
service ussrd /system/bin/ussrd
    user system
    group system
    class main

# unified scaling watchdog process
service usdwatchdog /system/bin/usdwatchdog --wait 30
    user system
    group system
    class main

# Enable rbe
# thresIncr:50  thresIncrCntMax:6  thresDecr:70  thresDecrCntMax:2
# The change from default is the thresDecrCntMax.  Default is 3.
service wlbwservice /system/bin/wlbwservice -t 50 6 70 2
    class main
    user system
    group system inet net_admin

# log save to files
#service nvlog_to_file /system/bin/nvlog_to_file.sh
#    class main
#    user root
#    group root
#    onshot
#    disabled

#service copy_nvlog /system/bin/copy_nvlog.sh
#    class main
#   user root
#    group root
#    onshot
#    disabled

#service nverase /system/bin/nverase.sh
#    class main
#    user root
#    group root
#    onshot
#    disabled

service logcat_system /system/bin/logcat -v time -r 1024 -n 5 -b system -f /mnt/log/nvidia/logs/logcat/logcat_system.log
    class main
    oneshot
    disabled

service logcat_main /system/bin/logcat -v time -r 1024 -n 5 -b main -f /mnt/log/nvidia/logs/logcat/logcat_main.log
    class main
    oneshot
    disabled

service logcat_radio /system/bin/logcat -v time -r 1024 -n 5 -b radio -f /mnt/log/nvidia/logs/logcat/logcat_radio.log
    class main
    oneshot
    disabled

service logcat_events /system/bin/logcat -v time -r 1024 -n 5 -b events -f /mnt/log/nvidia/logs/logcat/logcat_events.log
    class main
    oneshot
    disabled

# Enable akmd8963
service akmd /system/bin/akmd8963
    class main
    user system
    group system
    
#on property:ro.bootmode=normal
on property:persist.sys.nvlog.enable=1
    start nvlog_to_file

on property:persist.sys.nvlog.enable=0
    stop nvlog_to_file

# save kernel panic logs
on property:ro.bootmode=normal
    chown 0644 /proc/last_kmsg
    copy /proc/last_kmsg /mnt/log/nvidia/logs/last_kmsg.log
    chown root /mnt/log/nvidia/logs/last_kmsg.log
    chmod 0644 /mnt/log/nvidia/logs/last_kmsg.log

# Check and format internal storage if unformated
service int_sto_fmt /system/bin/internal_storage_formatter.sh
    class main
    user root
    group root
    oneshot

